/* line 1, ../compass/sass/style.scss */
body {
  margin: 0px 20px;
}

/* line 5, ../compass/sass/style.scss */
.post {
  margin: 20px;
  background: #eee;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 20px;
  height: 100px;
}

/* line 14, ../compass/sass/style.scss */
#post-text {
  display: block;
  width: 50%;
}

/* line 19, ../compass/sass/style.scss */
.left-container {
  width: 70%;
  float: left;
}
/* line 22, ../compass/sass/style.scss */
.left-container .user, .left-container .text, .left-container .date {
  float: left;
}

/* line 27, ../compass/sass/style.scss */
.right-container {
  width: 30%;
  float: left;
  height: 40px;
}
/* line 31, ../compass/sass/style.scss */
.right-container .arrow-up, .right-container .arrow-down, .right-container .vote-count {
  text-align: right;
  margin-right: 40px;
}
